.GearItem {
    position: absolute;
    display: block;
    border: 1px solid darkgoldenrod;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    background: #1c1805; /* Old browsers */
    background: -moz-linear-gradient(top, #1c1805 0%, #544602 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1c1805 0%,#544602 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1c1805 0%,#544602 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1805', endColorstr='#544602',GradientType=0 ); /* IE6-9 */
}

.Set {
    border: 1px solid green;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#051c05+0,02510a+100 */
    background: #051c05; /* Old browsers */
    background: -moz-linear-gradient(top, #051c05 0%, #02510a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051c05 0%,#02510a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051c05 0%,#02510a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c05', endColorstr='#02510a',GradientType=0 ); /* IE6-9 */
}

img {
    position: relative;
}

.tooltip {
    padding: 10px;
    background: #222222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.d3-color-ffffffff {
    color: #ffffff;
}

.d3-color-ff6969ff {
    color: #6969ff;
}

.d3-color-ffff8000 {
    color: #ff8000;
}

.d3-color-ff00ff00 {
    color: #00ff00;
}

.head {
    top: 0px;
    left: 93px;
    height: 66px;
    width: 66px;
}

#img-head {
    top: -31px;
}

.shoulders {
    top: 30px;
    left: 10px;
    height: 88px;
    width: 66px;
}

#img-shoulders {
    top: -20px;
}

.neck {
    left: 174px;
    top: 45px;
    height: 56px;
    width: 56px;
}

#img-neck {
    top: -3px;
    left: -3px;
}

.torso {
    top: 75px;
    left: 84px;
    width: 82px;
    height: 115px;
}

#img-torso {
    top: -22px;
}

.hands {
    top: 130px;
    left: 5px;
    height: 88px;
    width: 66px;
}

#img-hands {
    top: -15px;
}

.waist {
    top: 200px;
    left: 84px;
    height: 30px;
    width: 82px;
}

#img-waist {
    top: -15px;
}

.bracers {
    top: 130px;
    left: 180px;
    height: 88px;
    width: 66px;
}

#img-bracers {
    top: -15px;
}

.leftFinger {
    left: 18px;
    top: 235px;
    height: 42px;
    width: 42px;
}

#img-leftFinger {
    left: -10px;
    top: -10px;
}

.rightFinger {
    left: 192px;
    top: 235px;
    height: 42px;
    width: 42px;
}

#img-rightFinger {
    left: -10px;
    top: -10px;
}

.mainHand {
    top: 290px;
    left: 5px;
    height: 130px;
    width: 66px;
}

.offHand {
    top: 290px;
    left: 180px;
    height: 130px;
    width: 66px;
}

.legs {
    height: 88px;
    width: 66px;
    top: 240px;
    left: 92px;
}

#img-legs {
    top: -20px;
}

.feet {
    height: 88px;
    width: 66px;
    left: 92px;
    top: 340px;
}

#img-feet {
    top: -20px;
}