.Selector {
    display: block;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Hero {
    width: 250px;
}

.HeroCard {
    margin-left: 50px;
    margin-right: 50px;
    width: 250px;
}

.HeroGrid {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 430px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Stats {
    font-size: 18px;
    color: white;
    padding: 10px;
    text-align: left;
}

.Skills {
    justify-content: center;
    display: grid;
    grid-template-areas: "p0 p0 p1 p1"
                         "p2 p3 p4 p5"
                         "s0 s1 s2 s3";
    grid-template-columns: repeat(4, 42px);
    grid-gap: 3px;
    margin-bottom: 20px;
    height: 150px;
}

.p0 {
    grid-area: p0;
    text-align: right;
}

.p1 {
    grid-area: p1;
    text-align: left;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}

.p5 {
    grid-area: p5;
}

.s0 {
    grid-area: s0;
}

.s1 {
    grid-area: s1;
}

.s2 {
    grid-area: s2;
}

.s3 {
    grid-area: s3;
}

.StatItem:hover {
    color: red;
}

