.Selector {
    display: block;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Hero {
    width: 250px;
}

.HeroCard {
    margin-left: 50px;
    margin-right: 50px;
    width: 250px;
}

.HeroGrid {
    position: relative;
    /*display: grid;*/
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-areas: "head head head" "shoulders torso neck" "hands waist bracers" "leftFinger legs rightFinger" "mainHand feet offHand";*/
    justify-content: center;
    align-items: center;
    min-height: 470px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Stats {
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    color: white;
}

.StatItem:hover {
    color: red;
}

