@media only screen and (max-width: 1100px) {
    .AddHeroBar {
        flex-direction: column;
        justify-content: center;
    }
    .Divider {
        display: none;
    }
}

.AddHeroBar {
    display: flex;
    padding: 20px;
    justify-content: end;
}

.MenuItem {
    margin-right: 20px !important;
}

.Divider {
    border: 1px solid #282c34;
}