@media only screen and (max-width: 1219px) {
    .MenuBar {
        padding-top: 10px;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1220px) {
    .Title {
        margin-left: 20px;
    }
}


@font-face {
    font-family: "exocet-blizzard-light";
    src: url("./exocet-blizzard-light.ttf");
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: "Palatino Linotype", "Times", serif;
}

.Heros {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MenuBar {
    width: 100%;
    background-color: #474b53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 2px black;
}

.Workspace {
    padding-top: 25px;
}

.Title {
    font-family: exocet-blizzard-light, serif;
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}