.GearItem {
    position: absolute;
    display: block;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    z-index: 0;
}

.GearItemName {
    padding: 10px 0 10px;
    margin: 0 0 10px;
    text-align: center;
    border: 2px solid #464902;
    width: 100%;
}

.GearItemTypeName {
    font-size: 12px;
    padding-bottom: 20px;
}

.GearItemPrimaryStat {
    font-size: 50px;
    padding-bottom: 15px;
}

.GearItemStat {
    font-size: 12px;
    color: gray;
}

.GearItemStatDetails {
    color: white;
}

.GearItemSet {
    color:  #00ff00;
}

.GearItemPrimal {
    color: #ff8000;
}

.GearItemLegendary {
    color: #ff8000;
}

.GearItemMagic {
    color: #6969ff;
}

.GearItemRare {
    color: yellow;
}

.GearItemNormal {
    color: white;
}

.SocketsWrapper {
    display: block;
    position: absolute;
    left: calc(50% - 17px);
    opacity: 0.8;
}

.SocketsAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Socket {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: url(https://us.diablo3.com/static/images/profile/hero/skill-overlays.png) 0 -71px no-repeat;
    text-align: center;
    position: relative;
    left: 1px;
}

.SocketGem {
    margin: 6px auto 0;
    width: 20px;
    height: 20px;
    z-index: 2;
}


.Set {
    border: 1px solid green;
    background: #051c05; /* Old browsers */
    background: -moz-linear-gradient(top, #051c05 0%, #02510a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051c05 0%,#02510a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051c05 0%,#02510a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c05', endColorstr='#02510a',GradientType=0 ); /* IE6-9 */
}

.Primal {
    border-color: #aa0000 !important;
}

.Legendary {
    border: 1px solid #ff8000;
    background: #1c1805; /* Old browsers */
    background: -moz-linear-gradient(top, #1c1805 0%, #544602 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1c1805 0%,#544602 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1c1805 0%,#544602 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1805', endColorstr='#544602',GradientType=0 ); /* IE6-9 */
}

.Magic {
    border: 1px solid darkblue;
    background: #051c05; /* Old browsers */
    background: -moz-linear-gradient(top, #051c05 0%, #01001e 0%, #04024f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051c05 0%,#01001e 0%,#04024f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051c05 0%,#01001e 0%,#04024f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c05', endColorstr='#04024f',GradientType=0 ); /* IE6-9 */
}

.Rare {
    border: 1px solid yellow;
    background: #051c05; /* Old browsers */
    background: -moz-linear-gradient(top, #051c05 0%, #191900 0%, #464902 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051c05 0%,#191900 0%,#464902 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051c05 0%,#191900 0%,#464902 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c05', endColorstr='#464902',GradientType=0 ); /* IE6-9 */
}

.Normal {
    border: 1px solid white;
    background: #051c05; /* Old browsers */
    background: -moz-linear-gradient(top, #051c05 0%, #161616 0%, #606060 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051c05 0%,#161616 0%,#606060 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051c05 0%,#161616 0%,#606060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051c05', endColorstr='#606060',GradientType=0 ); /* IE6-9 */
}

.Gem {
    font-size: 12px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: left;
    grid-gap: 5px;
}

.Gems img {
    width: 20px;
    height: 20px;
}

h1, h2 {
    line-height: 1.3;
}

img {
    position: relative;
}

.GearImage {
    z-index: -1;
}

.d3-color-ffffffff {
    color: #ffffff;
}

.d3-color-ff6969ff {
    color: #6969ff;
}

.d3-color-ffff8000 {
    color: #ff8000;
}

.d3-color-ff00ff00 {
    color: #00ff00;
}

.head {
    top: 0px;
    left: 93px;
    height: 66px;
    width: 66px;
}

#img-head {
    top: -31px;
}

.shoulders {
    top: 30px;
    left: 10px;
    height: 88px;
    width: 66px;
}

#img-shoulders {
    top: -20px;
}

.neck {
    left: 174px;
    top: 45px;
    height: 56px;
    width: 56px;
}

#img-neck {
    top: -3px;
    left: -3px;
}

.torso {
    top: 75px;
    left: 84px;
    width: 82px;
    height: 115px;
}

#img-torso {
    top: -22px;
}

.hands {
    top: 130px;
    left: 5px;
    height: 88px;
    width: 66px;
}

#img-hands {
    top: -15px;
}

.waist {
    top: 200px;
    left: 84px;
    height: 30px;
    width: 82px;
}

#img-waist {
    top: -15px;
}

.bracers {
    top: 130px;
    left: 180px;
    height: 88px;
    width: 66px;
}

#img-bracers {
    top: -15px;
}

.leftFinger {
    left: 18px;
    top: 235px;
    height: 42px;
    width: 42px;
}

#img-leftFinger {
    left: -10px;
    top: -10px;
}

.rightFinger {
    left: 192px;
    top: 235px;
    height: 42px;
    width: 42px;
}

#img-rightFinger {
    left: -10px;
    top: -10px;
}

.mainHand {
    top: 290px;
    left: 5px;
    height: 130px;
    width: 66px;
}

.offHand {
    top: 290px;
    left: 180px;
    height: 130px;
    width: 66px;
}

.legs {
    height: 88px;
    width: 66px;
    top: 240px;
    left: 92px;
}

#img-legs {
    top: -20px;
}

.feet {
    height: 88px;
    width: 66px;
    left: 92px;
    top: 340px;
}

#img-feet {
    top: -20px;
}